LIGHTSPEED_API_BASE_URL=https://api.shoplightspeed.com/en
LIGHTSPEED_PRODUCTS_ENDPOINT=/products.json
LIGHTSPEED_API_KEY=remplacer_par_la_cle
LIGHTSPEED_API_SECRET=remplacer_par_le_secret_si_necessaire

# Pour les API qui utilisent un jeton Bearer au lieu de key/secret:
# LIGHTSPEED_API_TOKEN=remplacer_par_le_token

# Optionnel
LIGHTSPEED_PAGE_SIZE=100
